<div id="block-news-container">
<!-- Grid version. -->
<div id="block-news-row" class="row">
{{#news}}
    <div class="col-4">
        {{> block_news/newsitem }}
    </div>
{{/news}}
</div>

<!-- Carosel version. -->
<div id="block-news-carousel" class="carousel slide mx-4" data-ride="carousel">
  
    <a href="#block-news-carousel" role="button" data-slide="next"
    class="btn btn-outline-dark btn-carousel" 
    style="position: absolute; top: 90px; right: -1rem; z-index:999">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <span class="sr-only">{{#str}} next {{/str}}</span>
    </a>

    <a href="#block-news-carousel" role="button" data-slide="prev" 
    class="btn btn-outline-dark btn-carousel" 
    style="position: absolute; top: 90px; left: -1rem; z-index:999">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <span class="sr-only">{{#str}} previous {{/str}}</span>
    </a>
  
    <div class="carousel-inner">
    {{#news}}
        <div class="carousel-item {{#active}} active {{/active}}">
        {{> block_news/newsitem }}
        </div>
    {{/news}}
    </div>

</div>
</div>

<!-- We use an inline style tag because moodle cannot process @ symbol in css files. -->
<style>


/* Swap display between carosel and grid. */
#block-news-container {
    container-type: inline-size;
    container-name: blocknewscontainer;
}

@container blocknewscontainer (max-width: 768px) {
    #block-news-row  {
        display: none;
    }
    #block-news-carousel {
        display: block;
    }
}
@container blocknewscontainer (min-width: 768px) {
    #block-news-row  {
        display: flex;
    }
    #block-news-carousel {
        display: none;
    }
}

.btn-carousel {
    background-color: white;
}

.carousel-item .block-news-item {
    transition: all .5s ease-in-out;
    transform: scale(.9);
}

.carousel-item.active .block-news-item {
    transform: scale(1);
}

</style>
