<div class="block-news-item position-relative">
    <div class="block-news-item-image mb-3" 
         style="background-image: url('{{{image}}}'); 
                height: 200px; 
                background-size: cover; 
                background-position: top center;">
    </div>

    <a href="{{{link}}}" class="h5 stretched-link">{{{title}}}</a>
    <p class="pt-3">{{{description}}}</p>
</div>