<div class="block-news-item position-relative">
    <div class="block-news-item-image mb-3" 
         style="background-image: url('{{{image}}}'); 
                height: 200px; 
                background-size: cover; 
                background-position: top center;">
    </div>

    <a href="{{{link}}}" target='_blank' class="h5 d-block stretched-link">{{{title}}}</a>
    <small class="font-weight-normal">{{{displaydate}}}</small>
    <p class="py-3">{{{description}}}</p>
    
</div>